/* Variables */
$vin-blue: #5bb7db;
$vin-green: #60b044;
$vin-red: #ff0000;

/* Styles */
body {
    font: 15px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    color: #4d4d4d;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-weight: 300;
    min-width: 500px;
}


td {
    padding: 12px;
}

h2 {
    color: $vin-blue;
}

.savings { color: $vin-green; }
.loss { color: $vin-red; }
input.small { width: 46px; }
td.fuel-savings-label { width: 175px; }

.form-control {
    background-color: #69F0AE;
    //border-radius: 0;
    //box-shadow: none;
    border-color: #00E676;
    color: #000000;
}

button {
    width: 200px;
}

.flat-butt {
    display: inline-block;
    margin: 0 5px;
    border-radius: 6px;
    font-family: "Lato", sans-serif;
    font-size: 16.5px;
    padding: 12px 20px;
    border: 0;
    background: #34495E;
    color: #FFF;
    cursor: pointer;
    outline: 0;
}
.flat-butt:hover {
    background: #005580;
}
.flat-primary-butt {
    background: #00E676;
}
.flat-primary-butt:hover {
    background: #00C853;
}
.flat-info-butt {
    background: #3498db;
}
.flat-info-butt:hover {
    background: #5dade2;
}
.flat-danger-butt {
    background: #e74c3c;
}
.flat-danger-butt:hover {
    background: #ec7063;
}
.flat-border-butt {
    padding: 8px 20px;
    border: 4px solid #2C3E50;
}
.flat-border-butt:hover {
    border: 4px solid #2C3E50;
}
.flat-primary-border-butt {
    border-color: #00E676;
}
.flat-primary-border-butt:hover {
    border-color: #00C853;
}
.flat-info-border-butt {
    border-color: #2980B9;
}
.flat-info-border-butt:hover {
    border-color: #2980B9;
}
.flat-danger-border-butt {
    border-color: #C0392B;
}
.flat-danger-border-butt:hover {
    border-color: #C0392B;
}
.flat-double-butt {
    padding: 8px 20px;
    border: 3px solid #FFF;
    box-shadow: #34495E 0px 0px 0px 3px;
}
.flat-double-butt:hover {
    box-shadow: #005580 0px 0px 0px 3px;
}
.flat-primary-double-butt {
    box-shadow: #00E676 0px 0px 0px 3px;
}
.flat-primary-double-butt:hover {
    box-shadow: #00C853 0px 0px 0px 3px;
}
.flat-info-double-butt {
    box-shadow: #3498db 0px 0px 0px 3px;
}
.flat-info-double-butt:hover {
    box-shadow: #5dade2 0px 0px 0px 3px;
}
.flat-danger-double-butt {
    box-shadow: #e74c3c 0px 0px 0px 3px;
}
.flat-danger-double-butt:hover {
    box-shadow: #ec7063 0px 0px 0px 3px;
}
.flat-underline-butt {
    text-decoration: underline;
}
.flat-grad-butt {
    background-image: linear-gradient(#34495E 50%, #2C3E50 50%);
}
.flat-primary-grad-butt {
    background-image: linear-gradient(#00E676 50%, #00C853 50%);
}
.flat-info-grad-butt {
    background-image: linear-gradient(#3498DB 50%, #2980B9 50%);
}
.flat-danger-grad-butt {
    background-image: linear-gradient(#E74C3C 50%, #C0392B 50%);
}
.flat-inner-butt {
    padding: 11px 0px;
    box-shadow: inset #2C3E50 -3px -3px 0px;
}
.flat-primary-inner-butt {
    background: #00E676;
    box-shadow: inset #00C853 -3px -3px 0px;
}
.flat-info-inner-butt {
    box-shadow: inset #2980B9 -3px -3px 0px;
}
.flat-danger-inner-butt {
    box-shadow: inset #C0392B -3px -3px 0px;
}
.flat-outer-butt {
    padding: 11px 0px;
    box-shadow: #BDC3C7 2px 2px 0px;
}

//outline- disable
.bootstrap-select .dropdown-toggle:focus {
    outline: none!important;
}

li:focus, li a:focus, a:focus {
    outline: none!important;
}

// css tree
.main-content {
    margin-bottom: 15px;
    .dropdown-component {
        font-family: Lato, "Helvetica"!important;
        &.row {
            margin: 10px 0px;
        }
        select {
            padding: 6px 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            width: 170px;
            background-color: #B0BEC5;
            color: #000000;
            font-weight: bold;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            &:focus {
                outline: none;
            }
        }
        .page-dropdown {
            select {
                width: 105px;
            }
        }
        .dropdown-title {
            margin-right: 5px;
            margin-top: 5px;
            color: #2E7D32;
        }
    }
    .kanji-component {
        width: 100%;
        .kanjiImage {
            width: 100%;
            margin: auto;
            @media screen and (min-width: 100px) and (max-width: 768px) {
                width: 50%;
            }
            img {
                width: 100%;
                margin: auto;
                height:auto;
            }
        }

        .kanjiMean {
            font-family: "Helvetica";
            font-weight: bold;
            text-align: center;
            font-size: 3em;
            line-height: 1.2em;
            color: #00C853;
        }
    }

    .yomikata {
        width: 100%;
        margin-top: 50px;
        font-family: "Yu Gothic UI Semibold";
        .onyomi {
            color: #F44336;
            width: 100%;
        }
        .kunyomi {
            color: #1E88E5;
            width: 100%;
        }
        .title {
            font-size: 2em;
            padding: 8px 16px;
        }
        input {
            font-size:1.2em;
            padding: 8px 12px;
        }
    }

    .kotoba-component {
        font-family: "Yu Gothic UI Semibold";
        margin-top: 50px;
        font-size: 1.2em;
        line-height: 1.2em;
        .row {
            margin-bottom: 20px;
        }
        .header {
            font-family: Helvetica;
            font-weight: bold;
            color: #ff6815;
            @media screen and (max-width: 768px) {
                display: none;
            }
        }
        .kotoba-content {
            .kotoba {
                font-size: 1.3em;
                line-height: 1.3em;
            }
            .kotoba-header, .kotoba-mean-header, .kotoba-yomikata-header {
                font-family: Helvetica;
                font-weight: bold;
                color: #ff6815;
                @media screen and (min-width: 768px) {
                    display: none;
                    overflow: hidden;
                }
                @media screen and (max-width: 768px) {
                    display: block;
                }
            }
            .row {
                padding: 0;
                margin-top: 0px;
                margin-left: -15px;
                margin-bottom: 0px;
                @media screen and (max-width: 768px) {
                    display: block;
                    margin-right: 15px;
                }
            }
            > [class*="col-"] {
                padding-left: 15px;
            }
        }
        .kotoba-mean {
            font-family: Helvetica;
        }
        .kotoba, .kotoba-mean, .kotoba-yomikata {
            padding-left: 0px;
            margin-bottom: 5px;
        }
        input {
            font-size: inherit;
            padding: 8px 12px;
        }
    }
}
